// Physically Large Devices
///////////////////////////////////////////////////////////////////////////////

// Apple iMac
$apple-imac-width           : 2560px;
$apple-imac-height          : 1440px;
$apple-imac-ppi             : 109;

// Apple MacBook Pro Retina
$apple-macbook-pro-rd-width : 2560px;
$apple-macbook-pro-rd-height: 1600px;
$apple-macbook-pro-rd-ppi   : 227;

// Sony Vaio F
$sony-vaio-f-width          : 1920px;
$sony-vaio-f-height         : 1080px;
$sony-vaio-f-ppi            : 134;



// Physically Medium-Sized Devices
///////////////////////////////////////////////////////////////////////////////



// Physically Small Devices
///////////////////////////////////////////////////////////////////////////////